.chores{
    color: blue;

}

.chores ul {
    color:purple;
    font-style: italic;
    text-decoration: underline;

}

ul{
    border-radius: 25px;
    border-style: solid;
    border-color: cadetblue;
}

